table {
  width: 100%;
}
mat-header-cell,
mat-cell {
  justify-content: left;
}
.left-text {
  text-align: left;
}

#div-loading {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

#mat-field-input {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
}
