table {
  width: 100%;
}
mat-header-cell,
mat-cell {
  justify-content: left;
}
.left-text {
  text-align: left;
}

#mat-field {
  margin-top: 1rem;
  width: 100vw;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
